<html>
<head>
  <title>Hello</title>
  <script src="/socket.io/socket.io.js"></script>
  <script src="jquery-3.3.1.min.js"></script>
  <script>
  var socket = io("http://localhost:3030");
  $(document).ready(function(){

  });
  </script>
  <link rel="stylesheet" type="text/css" href="main.css" />

</head>
<body>
  <div id="wrapper">
    <input type="text" name="" value="" id="txtUser" placeholder="User name">
  </div>
</body>
</html
