<html>
<head>
  <title>Hello</title>
  <script src="/socket.io/socket.io.js"></script>
  <script src="jquery-3.3.1.min.js"></script>
  <script>
  var socket = io("http://10.0.0.26:3030");

  //client recieves respone from server_send_fail_register
  socket.on("server_send_fail_register", function(user){
    alert("User" + user + " has been registered");
  });
  socket.on("server_send_list_useronline", function(user){
    var divUser ="<div socketId='" + user.id + "' class='userOnline'>" + user.username + "</div>"
    $("#listUserOnline").append(divUser);

  });
  //hide formr reister
  socket.on("server_send_register_success", function(user){
    $("#formRegister").hide(1000);
  });
//recieve message from server_send_message
socket.on("server_send_message", function(data){
  var divUsername ="<span class='userName'>" + data.Username + ": </span>";
  var divMessage = "<span class='message'>" + data.msg + "</span>";
  var divBlock = "<div class='block'></div>";
  $("#listMessage").append(divUsername + divMessage + divBlock);

});
//user buscu another user
socket.on("server_send_buscu_user", function(data){
  alert(data + " muốn buscu bạn!");
});
  $(document).ready(function(){
    $("#btnRegister").click(function(){
      //send to server
      socket.emit("client_send_username", $("#txtUser").val());
    });
    $("#btnChat").click(function(){
      //send message to server
      socket.emit("client_send_message", $("#txtMessage").val());
      $("#txtMessage").val("");
    });
    //user click on another user
    $(document).on("click", ".userOnline", function(){
      var id =$(this).attr("socketId");
      socket.emit("user_buscu_user", id);
    });
  });
  </script>
  <link rel="stylesheet" type="text/css" href="main.css" />

</head>
<body>
  <div id="wrapper">
    <h1 style="text-align: center">FUCKING CHAT</h1>
    <div class="formRegister" id="formRegister">
      <input type="text" name="" value="" id="txtUser" placeholder="User name"/>
      <input type="button" name="" value="Register" id="btnRegister"/>
    </div>
    <div class="block"></div>
    <div class="left" id="left">
      <div class="title">User Online</div>
      <div id="listUserOnline"></div>

    </div>
    <div class="right" id="right">
      <div class="" id="listMessage"></div>
      <div class="block"></div>
      <input type="text" name="" value="" id="txtMessage" placeholder="Message..."/>
      <input type="button" name="" value="Send" id="btnChat"/>
</div>

</div>
    </div>
  </div>
</body>
</html
